@model IEnumerable<WebAyam.Models.Master_kec>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nama_kec)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nama_kab)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nama_kec)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nama_kab)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id_kec }) |
            @Html.ActionLink("Details", "Details", new { id=item.id_kec }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id_kec })
        </td>
    </tr>
}

</table>
